:root {
    --primary-color: #4a90e2;
    --text-color: #333;
    --text-color-bright: #ffffff;
    --background-color: #f1f1f1;

    --border-radius: 8px;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
    padding: 20px;
    background: var(--background-color);

    display: flex;
    justify-content: center;

    align-items: center;
    min-height: 45rem;
}


label {

    display: block;
    margin-bottom: 8px;
}

input {
    width: 100%;
    padding: 12px;

    border: solid 1px #eee;
    border-radius: var(--border-radius);
}


.main-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 50rem;

    background: white;
    border-radius: 12px;

    box-shadow: 0 2px 10px #0000001e;
    /* without this child elements spill over and make the corners unrounded */
    overflow: hidden;
}

.info-section {
    background: var(--primary-color);
    padding: 3rem;

    color: white;
    text-align: center;
}

.info-title {
    font-size: 24px;
    font-weight: bold;
}

.form-section {
    padding: 3rem;
}

.form-area {
    margin-bottom: 2rem;
}

.form-actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;
}